/* Import the Bebas Neue font directly into css file */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap');


.blockquote{
    font-size: 6.5vh;
    font-family: "Bebas Neue";
    padding-top: 8%;
}

.blockquote-footer {
    font-size: 3.75vh;
    font-family: "Bebas Neue";
    padding-top: 2%;
}

.fixed-button {
    font-size: 4vh;
    font-family: "Bebas Neue";
    margin-top: 10%;
    bottom: 15%;
    left: 30%;
    right: 30%;
    z-index: 1;
}
